@import url("https://fonts.googleapis.com/css?family=Damion|Muli:400,600");
@import '~src/app/stylesheets/mixins';
@import '~src/app/stylesheets/variables';
@import '~src/app/stylesheets/elements';

.login-page {
  @include display-flex(column, center, center);
  @extend .bckg-center-cover;

  min-height: 960px;
  width: 100%;
  margin: 0;
  background-image: url("/assets/images/image.png");

  border: none;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $background-color;
    opacity: 94%;
  }

  &__centered-logo {
    width: 297px;
    padding-bottom: 155px;
    position: relative;
  }

  &__header {
    color: $white;
    padding: 20px;
    font-size: 43px;
    position: relative;
    bottom: 20px;
  }

  &__text {
    padding: 5px;
    color: $white;
    font-size: 15px;
    position: relative;
  }

  &__forgot {
    color: $white;
    position: relative;
  }

  a {
    color: $primary-color;
    position: relative;
  }

  &__form {
    @include display-flex(column, center, center);

    max-width: 350px;
    position: relative;
    margin: 0 auto 100px;
    padding: 45px;

    &-button {
      width: 191px;
      height: 48px;
      padding: 15px 45px;
      font-size: 20px;
      background-color: $primary-color;
      color: $white;
      border: 0;
      position: relative;
      top: 15px;
    }

    &-input {
      width: 350px;
      height: 48px;
      padding: 10px;
      font-size: 18px;
      background-color: grey;
      opacity: 0.5;
      border: 2px solid $primary-color;

      &::placeholder {
        color: $white;
      }
    }
  }
}