<div class="login-page">
    <img class="login-page__centered-logo" src="/assets/images/logo.svg" alt="">
    <h1 class="login-page__header">Reset your password</h1>
    <div class="login-page__text">Login to access the IoT Dashboard.</div>
    <p class="login-page__forgot">Enter your new password below.
    </p>
    <form class="login-page__form">
        <input class="login-page__form-input m-10-0" type="password" placeholder="New password"/>
        <input class="login-page__form-input m-10-0" type="password" placeholder="Confirm password"/>
        <button (click)="onResetPassClicked()" type="button" class="m-10-0 login-page__form-button">RESET</button>
    </form>
</div>
