.column-center {
    @include display-flex(column, center, center);
  }

  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20.5pt;
    color: $white;
  }
  
  .m-10-0 {
    margin: 10px 0;
  }
  
  .bckg-center-cover {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }