$xs: 600px;
$sm: 960px;
$md: 1280px;
$lg: 1440px;
$xl: 1920px;


$black: #000;
$midnight-green: #145465;
$medium-jungle-green: #0d2c35;
$dark-green: #04232B;
$old-mauve: #501a43;
$lila: #cfb5e5;
$celeste: #b7f1ff;
$white: #ffffff;
$pink: #d21777;
$turqoise: #29d5ff;
$grey: #A9A9A9;
$red: #ce1674;


$background-color: $dark-green;
$menu-color: $dark-green;
$sidenad-color: $dark-green;
$primary-color: $turqoise;
$box-color: #155c6c;

