@import "~src/app/stylesheets/mixins";
@import "~src/app/stylesheets/variables";
@import "~src/app/stylesheets/elements";

.spread-fix {
  flex: 1;
}

.line-status {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
}

.box-status {
  background-color: $box-color;
  margin: 100px;
  box-sizing: border-box;
  width: 352px;
  height: 176px;
  z-index: 2;

  &::before,
  &::after {
    @extend .bckg-center-cover;

    display: block;
    content: "";
    width: 45px;
    height: 45px;
    background-image: url("/assets/images/Group_9.svg");
    position: absolute;
  }

  &__title {
    position: relative;
    left: 20px;
    top: 15px;
    font-size: 21px;
    color: $white;
  }

  &__corners-deco {
    position: relative;
    margin: 60px;

    &::before,
    &::after {
      @extend .bckg-center-cover;

      display: block;
      content: "";
      width: 156px;
      height: 108px;
      background-image: url("/assets/images/Group_10.svg");
      position: absolute;
    }

    &::before {
      left: -6px;
      bottom: -6px;
    }

    &::after {
      right: -6px;
      top: -6px;
      transform: rotate(180deg);
    }
  }
}

.box-content {
  @include display-flex(center, center);
  position: relative;
  top: 48px;
  color: $primary-color;
  font-size: 50px;
  padding: 0 98px;

  @include respond(gt-xs) {
    padding: 0 0;
  }
}

.dashboard {
  @extend .bckg-center-cover;

  width: 100%;
  min-height: 100%;
  background-image: url("/assets/images/image.png");
  border: 0;
  padding: 20px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond(gt-md) {
    flex-flow: row wrap;
    justify-content: center;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $background-color;
    opacity: 94%;
    z-index: 2;
  }
}

.page-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100%;
  width: 100%;

  @include respond(gt-md) {
    max-width: 1500px;
    justify-content: center;
  }

  @include respond(gt-md) {
    flex-flow: row wrap;
  }
}

.box-container {
  @include display-flex(column, center, flex-start, wrap);
  box-sizing: border-box;

  width: 100%;
  margin: 10px;
  border: 3px solid $primary-color;
  z-index: 2;
  cursor: pointer;
  padding: 0 15px;

  &:focus {
    outline: 0;
  }

  @include respond(gt-sm) {
    width: calc(70% - 40px);
  }

  @include respond(gt-md) {
    width: calc(50% - 150px);
  }

  @include respond(xs) {
    width: 100%;
  }

  &__title {
    font-size: 23px;
    color: $primary-color;
    padding-top: 25px;
    padding-bottom: 15px;
    align-self: center;
  }

  @include respond(gt-xs) {
  }
}

.content {
  @include display-flex(column, center, center, wrap);
  width: 100%;

  @include respond(gt-xs) {
    @include display-flex(row, space-between, center, wrap);
    height: 325px;
    padding: 15px;
  }

  &__content-building {
  }

  .building {
    height: 100%;
    width: 195px;
    order: 1;

    @include respond(gt-xs) {
      order: 0;
    }
  }

  &__text {
    @include display-flex(column, center, center, nowrap);
    height: 100%;
    width: calc(100% - 225px);
    text-align: center;
    padding: inherit;
    color: $white;
    font-size: 14px;
    padding: 0;
    order: 2;
    margin: 30px;

    @include respond(gt-xs) {
      order: 0;
      margin: 0;
    }

    &__decoration-between {
      position: relative;
      margin-bottom: 20px;

      &::before,
      &::after {
        @extend .bckg-center-cover;
        @extend .absolute-center;
        background-size: initial;

        display: block;
        content: "";
        width: 330px;
        height: 40px;
      }

      &__location1 {
        @include display-flex(column, center, center, nowrap);

        .location1-decoration {
          width: 194px;
          height: 27px;

          @include respond(gt-xs) {
            width: 250px;
          }
        }

        p {
          position: relative;
          left: 43px;
          bottom: 15px;
        }
      }

      &__fridge1 {
        @include display-flex(column, center, center, nowrap);

        .fridge1-decoration {
          width: 194px;
          height: 32px;

          @include respond(gt-xs) {
            width: 250px;
          }
        }

        p {
          position: relative;
          top: -18px;
          left: -41px;
        }
      }

      &__status1 {
        @include display-flex(column, center, center, nowrap);

        .status1-decoration {
          width: 194px;
          height: 32px;

          @include respond(gt-xs) {
            width: 250px;
          }
        }

        p {
          position: relative;
          top: -20px;
          left: 46px;
        }
      }
    }
  }
}

.closed1 {
  color: $white;
  position: relative;
  left: 43px;
}

.open {
  color: $primary-color;
  position: relative;
  top: -2px;
  left: 47px;
}

.celsius-blue {
  position: relative;
  top: -2px;
  right: 40px;
}

chart {
  margin: 0 15px;
  margin-top: 15px;
  height: 70%;
  width: 200px;

  @include respond(gt-xs) {
    width: 400px;
  }
}
