<div class="dashboard">
  <div class="line-status">
    <div class="box-status box-status__corners-deco">
      <h4 class="box-status__title">Buildings</h4>
      <div class="box-content">4</div>
    </div>

    <div class="box-status box-status__corners-deco">
      <h4 class="box-status__title">Fridges</h4>
      <div class="box-content">8</div>
    </div>

    <div class="box-status box-status__corners-deco">
      <h4 class="box-status__title">General status</h4>
      <chart [type]="type" [data]="data" [options]="options"></chart>
    </div>
  </div>
  <div class="page-content-container">
    
  <!-- <div [routerLink]="['/buildings/details/1']" class="box-container">
    <h2 class="box-container__title title1">Building One</h2>
    <div class="content">
      <img
        src="/assets/images/building1.svg"
        alt=""
        class="content__content-fridge building"
      />
      <div class="content__text">
          <div class="content__text__decoration-between__location1">
              <div class="closed1">
                Schillerstrasse 65
              </div>
              <img
              src="/assets/images/location-left.svg"
              alt=""
              class="location1-decoration"
            />
              <br /><br />
              <p>
                Prittriching, Bayern
                <br />
                Germany
              </p>
          </div>
          <div class="content__text__decoration-between__fridge1">
              <div class="celsius-blue">
                2
              </div>
              <img
              src="/assets/images/fridge-right.svg"
              alt=""
              class="fridge1-decoration"
            />
              <br /><br />
              <p>
                Number of fridges
              </p>
          </div>
          <div class="content__text__decoration-between__status1">
              <div class="open">
                OK
              </div>
              <img
              src="/assets/images/status-blue-left.svg"
              alt=""
              class="status1-decoration"
            />
              <br /><br />
              <p>
                General status
              </p>
          </div>
      </div>
    </div>
  </div>

  <div [routerLink]="['/buildings/details/1']" class="box-container">
    <h3 class="box-container__title title2">Building Two</h3>
    <div class="content">
      <div class="content__text">
          <div class="content__text__decoration-between__location2">
              <div class="closed2">
                Karl-Arnold-Platz 1
              </div>
              <img
              src="/assets/images/location-right.svg"
              alt=""
              class="location2-decoration"
            />
              <br />
              <p>
                Dusseldorf
                <br />
                Germany
              </p>
          </div>
          <div class="content__text__decoration-between__fridge2">
              <div class="ok2">
                4
              </div>
              <img
              src="/assets/images/fridge-left.svg"
              alt=""
              class="fridge2-decoration"
            />
              <br />
              <p>
                Number of fridges
              </p>
          </div>
          <div class="content__text__decoration-between__status2">
              <div class="attention">
                ATTENTION
              </div>
              <img
              src="/assets/images/status-purple-right.svg"
              alt=""
              class="status2-decoration"
            />
              <br />
              <p>
                General status
              </p>
          </div>
      </div>
      <img
        src="/assets/images/building2.svg"
        alt=""
        class="content__content-fridge building"
      />
    </div>
  </div>

  <div [routerLink]="['/buildings/details/1']" class="box-container">
    <h2 class="box-container__title title3">Building Three</h2>
    <div class="content">
      <img
        src="/assets/images/building3.svg"
        alt=""
        class="content__content-building building"
      />
      <div class="content__text">
          <div class="content__text__decoration-between__location3">
              <div class="closed3">
                Jenaer Strasse 54
              </div>
              <img
              src="/assets/images/location-left.svg"
              alt=""
              class="location3-decoration"
            />
              <br />
              <p>
                Naumburg, Hessen
                <br />
                Germany
              </p>
          </div>
          <div class="content__text__decoration-between__fridge3">
              <div class="ok1">
                3
              </div>
              <img
              src="/assets/images/fridge-right.svg"
              alt=""
              class="fridge3-decoration"
            />
              <br />
              <p>
                Number of fridges
              </p>
          </div>
          <div class="content__text__decoration-between__status3">
              <div class="error">
                ERROR
              </div>
              <img
              src="/assets/images/status-pink-left.svg"
              alt=""
              class="status3-decoration"
            />
              <br />
              <p>
                General status
              </p>
          </div>
      </div>
    </div>
    [routerLink]="['/buildings/details/i']" 
  </div> -->


  <div 
    
  (click)="onBuildingClicked(building)"
    class="box-container"
    *ngFor="let building of buildings;let i=index"
  >
    <h2 class="box-container__title title1">
      {{ building.name }}
    </h2>
    <div class="content">
      <img
        src="/assets/images/building1.svg"
        alt=""
        class="content__content-fridge building"
      />
      <div class="content__text">
          <div class="content__text__decoration-between__location1">
              <div class="closed1">
                {{ building.street }}
              </div>
              <img
              src="/assets/images/location-left.svg"
              alt=""
              class="location1-decoration"
            />
              <p>
                {{ building.town }}
                <br />
                {{ building.country }}
              </p>
          </div>
          <div class="content__text__decoration-between__fridge1">
              <div class="celsius-blue">
                2
              </div>
              <img
              src="/assets/images/fridge-right.svg"
              alt=""
              class="fridge1-decoration"
            />
              <p>
                Number of fridges
              </p>
          </div>
          <div class="content__text__decoration-between__status1">
              <div class="open">
                OK
              </div>
              <img
              src="/assets/images/status-blue-left.svg"
              alt=""
              class="status1-decoration"
            />
              <p>
                General status
              </p>
          </div>
      </div>
    </div>
  </div>
</div>
</div>


