@import "~src/app/stylesheets/mixins";
@import "~src/app/stylesheets/variables";
@import "~src/app/stylesheets/elements";

.dashboard {
    @extend .bckg-center-cover;
  
    width: 100%;
    min-height: 100%;
    background-image: url("/assets/images/image.png");
    border: 0;
    padding: 20px;
    position: relative;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
    @include respond(gt-md) {
      flex-flow: row wrap;
      justify-content: center;
    }
  
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: $background-color;
      opacity: 94%;
      z-index: 2;
    }
  }