<!-- <div class="box-alert">  
  <img src="/assets/images/alert_1.svg" alt="" class="img-alert" />
  <h1 class="title">Attention!</h1>
  <p class="text-alert">
    Fridge Innovation Truck <br />
    status: ERROR. <br />
    Temperature critical!
  </p>
  <img src="/assets/images/close_1.svg" alt="" class="img-close" />
</div>
-->

