/*@import "~src/app/stylesheets/mixins";
@import "~src/app/stylesheets/variables";
@import "~src/app/stylesheets/elements";

:host {
    position: fixed;
    right: 17px;
    bottom: 60px;
    z-index: 99;

    @include respond(gt-xs) {
      position: fixed;
      right: 100px;
    }
}

.box-alert {
  @include display-flex(column, flex-start, flex-start);
  background-color: $primary-color;
  box-sizing: border-box;
  width: 285px;
  z-index: 2;
  position: relative;
  padding: 25px 90px;
  padding-top: 15px;
  opacity: 75%;

  @include respond(gt-xs) {
    width: 360px;
  }
}

.img-alert {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 15px;
  top: 15px;
}

.title {
  height: 20px;
  font-size: 20px;
  color: $pink;
  font-weight: bold;
  margin-bottom: 10px;
}

.img-close {
  width: 22px;
  height: 22px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.text-alert {
  color: white;
  line-height: 19px;
}
*/
