<div class="fridge-status">
  <div class="box">
    <div class="content-box">
      <img src="/assets/images/fridge_image.svg" alt="" class="big-fridge" />
      <div class="big-fridge"></div>
      <div class="column-text-box">
      <div class="title1">Dusseldorf 3rd Floor</div>
      <div class="text">
        <div class="connection">
          <img
            src="/assets/images/wireless-internet.svg"
            alt=""
            class="internet"
          />
          <div class="open">
            Connection open
          </div>
        </div>
        <div class="status">
          <img
            src="/assets/images/status-decoration-ok.svg"
            alt=""
            class="fridge"
          />
          <div class="OK">
            Fridge status OK
          </div>
        </div>
        <div class="box-status">
          <div class="gauge-element">
            <img
              src="/assets/images/Temperature.svg"
              alt=""
              class="gauge-title"
            />
            <chart [type]="type1" [data]="data1" [options]="options1"></chart>
          </div>
          <div class="gauge-element">
            <img src="/assets/images/Humidity.svg" alt="" class="gauge-title" />
            <chart [type]="type2" [data]="data2" [options]="options2"></chart>
          </div>
          <div class="gauge-element">
            <img src="/assets/images/Light.svg" alt="" class="gauge-title" />
            <chart [type]="type3" [data]="data3" [options]="options3"></chart>
          </div>
          <div class="gauge-element">
            <img src="/assets/images/door_blue.svg" alt="" class="door" />
            <p class="door-text">Door closed</p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

  <div class="title2">Dusseldorf 3rd floor</div>
  <div class="subtitle">2h Charts</div>
  <div class="charts">
  <div class="line-chart">
    <img
      src="/assets/images/temperature-chart.svg"
      alt=""
      class="temperature"
    />
    <chart *ngIf="!isTableView" [type]="type" [data]="data" [options]="options"></chart>
    <!-- <div *ngIf = "chart">
      <canvas id="canvas"> {{ chart }} </canvas>
    </div> -->

    <div *ngIf="isTableView" class="table">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Time Column -->
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Time</th>
          <td mat-cell *matCellDef="let element">{{ element.time }}</td>
        </ng-container>

        <!-- Actual-Temperature Column -->
        <ng-container matColumnDef="temperature1">
          <th mat-header-cell *matHeaderCellDef>Actual Temperature</th>
          <td 
            mat-cell *matCellDef="let element"
            
          >
            <span [ngClass]="{'red': element.temperature1 > 10 || element.temperature1 < 5}">
              {{ element.temperature1 + '°C'}}

            </span>
          </td>
        </ng-container>


        <!-- Normal-Temperature Column -->
        <ng-container matColumnDef="temperature2">
          <th mat-header-cell *matHeaderCellDef>Normal Temperature</th>
          <td mat-cell *matCellDef="let element">{{ element.temperature2 }}</td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element"><img [src]="element.status === 'Low' || element.status === 'High' ? '/assets/images/Status_error.svg' : '/assets/images/Status_checkmark.svg' " alt="">{{ element.status }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <p class="temperature-title">Temperature</p>

    <img (click)="isTableView = !isTableView" [src]="isTableView ? '/assets/images/loupe-right-open.svg' : '/assets/images/loupe-right-closed.svg' " alt="" class="loupe2" />

    <div class="switch">
    <img (click)="isTableView = !isTableView" src="/assets/images/switch_icon.svg" alt="" class="switch-image" />
    <p class="switch-text">Switch to {{isTableView ? 'chart' : 'table'}} view</p>
  </div>

  </div>

  <div class="bar-chart">
    <img src="/assets/images/loupe-left-closed.svg" alt="" class="loupe1" />
    <p class="humidity-title">Humidity</p>
    <chart [type]="'bar'" [data]="data4" [options]="options4"></chart>
    <img src="/assets/images/humidity-chart.svg" alt="" class="humidity" />
  </div>

  <div class="band-chart">
    <img src="/assets/images/light-chart.svg" alt="" class="light" />
    <chart [type]="'bar'" [data]="data5" [options]="options5"></chart>
    <p class="light-title">Light</p>

    <img src="/assets/images/loupe-right-closed.svg" alt="" class="loupe3" />
  </div>
  </div>
</div>

<app-alert></app-alert>
