@import "~src/app/stylesheets/mixins";
@import "~src/app/stylesheets/variables";
@import "~src/app/stylesheets/elements";

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20.5pt;
  color: $white;
}

.spread-fix {
  flex: 1;
}

.fridge-status {
  @extend .bckg-center-cover;

  @include display-flex(column);
  display: block;
  width: 100%;

  position: relative;
  background-image: url("/assets/images/image.png");
  border: 0;
  padding: 30px;
  z-index: 2;

  @include respond(gt-xs) {
    padding-left: 64px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $background-color;
    opacity: 94%;
    z-index: -2;
  }
}

.box {
  @include display-flex(column, center, center, nowrap);
}

.content-box {
  @include display-flex(row, center, center, nowrap);
  z-index: 2;
}

.big-fridge {
  @include display-flex(row, center, center, nowrap);
  display: none;
  z-index: 2;

  @include respond(gt-md) {
    display: flex;
  }
}

.column-text-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 0;

  @include respond(gt-xs) {
    padding: 35px;
  }
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 2;
  color: $white;
  margin: 0;
}

.title1 {
  font-size: 24px;
  color: $primary-color;
  z-index: 2;
  margin-bottom: 35px;
  text-align: center;

  @include respond(gt-xs) {
    font-size: 50px;
  }
}

.connection {
  display: flex;
  flex-direction: row;
  position: relative;
  top: -20px;
  left: 4px;
}

.internet {
  width: 50px;

  @include respond(gt-xs) {
    width: 65px;
  }
}

.open {
  position: relative;
  left: 20px;
  top: 14px;
  font-size: 22px;

  @include respond(gt-xs) {
    font-size: 28px;
  }
}

.status {
  display: flex;
  flex-direction: row;
  position: relative;
  top: -5px;
}

.fridge {
  width: 75px;
  position: relative;
  left: 5px;

  @include respond(gt-xs) {
    width: 112px;
  }
}

.OK {
  position: relative;
  left: -1px;
  top: 20px;
  font-size: 22px;

  @include respond(gt-xs) {
    font-size: 28px;
    position: relative;
    left: -20px;
  }
}

.box-status {
  @include display-flex(row, center, center, wrap);
  width: 100%;
  position: relative;
  top: 25px;
  padding: 0;
  z-index: 2;

  @include respond(gt-xs) {
    padding: 60px 40px;
    max-width: 563px;
    max-height: 544px;
  }

  &::before {
    content: "";
    display: none;
    position: absolute;
    top: -11px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url("/assets/images/fridge_border.svg");
    background-repeat: no-repeat;
    width: 563px;
    z-index: -2;

    @include respond(gt-sm) {
      display: block;
    }
  }

  chart {
    width: 175px;
    height: 125px;
    margin: 0 35px;
  }
}

.gauge-element {
  @include display-flex(column, center, center, nowrap);
  width: 100%;
  margin-bottom: 28px;

  @include respond(gt-xs) {
    width: calc(50% - 30px);
    margin-bottom: 70px;
  }
}

.gauge-title {
  margin: 10px 0;
}

.door {
  width: 83px;
  height: 118px;
}

.title2 {
  z-index: 2;
  display: flex;
  align-self: flex-start;
  font-size: 32px;
  color: $primary-color;
  margin: 0;
  text-align: center;
  margin-top: 55px;

  @include respond(gt-xs) {
    font-size: 50px;
    margin: 33px;
    margin-top: 0;
  }
}

.subtitle {
  z-index: 2;
  display: flex;
  align-self: flex-start;
  font-size: 20px;
  color: $primary-color;
  position: relative;
  margin: 55px;

  @include respond(gt-xs) {
    font-size: 30px;
  }

  &::before {
    @extend .bckg-center-cover;

    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -20px;
    right: 0;
    top: -22px;
    bottom: 0;
    background-image: url("/assets/images/divider2.svg");
    width: 208px;
    height: 82px;
    z-index: -2;
  }
}

.line-chart {
  @include display-flex(column, center, center, nowrap);
  margin-bottom: 40px;

  chart {
    z-index: 2;
    width: 100%;
    margin-left: 0;
    order: 3;

    @include respond(gt-xs) {
      margin-left: -17px;
      order: 0;
    }

    @include respond(gt-xs) {
      width: 481px;
      height: 250px;
    }
  }
  @include respond(gt-xs) {
    @include display-flex(row, center, center, nowrap);
  }
}

.temperature {
  margin: 0;
  display: none;

  @include respond(gt-xs) {
    margin-right: 66px;
  }

  @include respond(gt-sm) {
    display: flex;
  }
}

.loupe2 {
  display: none;

  @include respond(gt-sm) {
    display: flex;
  }
}

.temperature-title {
  color: $primary-color;
  font-size: 20px;
  padding: 0;
  order: 1;
  padding-top: 20px;
  padding-bottom: 15px;

  @include respond(gt-xs) {
    padding-bottom: 63px;
    transform: rotate(90deg);
    order: 0;
  }
}

.bar-chart {
  @include display-flex(column, center, center, nowrap);
  margin-bottom: 40px;

  chart {
    z-index: 2;
    width: 100%;
    margin: 0;

    @include respond(gt-xs) {
      margin-right: 82px;
    }

    @include respond(gt-xs) {
      width: 480px;
      height: 250px;
    }
  }
  @include respond(gt-xs) {
    @include display-flex(row, center, center, nowrap);
  }
}

.humidity {
  display: none;

  @include respond(gt-sm) {
    display: flex;
  }
}

.loupe1 {
  display: none;

  @include respond(gt-sm) {
    display: flex;
  }
}

.humidity-title {
  color: $primary-color;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 15px;

  @include respond(gt-xs) {
    transform: rotate(-90deg);
  }
}

.band-chart {
  @include display-flex(column, center, center, nowrap);

  chart {
    z-index: 2;
    width: 100%;
    margin: 0;
    order: 2;

    @include respond(gt-xs) {
      margin: 0 56px;
      order: 0;
    }

    @include respond(gt-xs) {
      width: 480px;
      height: 250px;
    }
  }
  @include respond(gt-xs) {
    @include display-flex(row, center, center, nowrap);
  }
}

.light-title {
  color: $primary-color;
  font-size: 20px;
  order: 1;
  padding-top: 20px;
  padding-bottom: 15px;

  @include respond(gt-xs) {
    transform: rotate(90deg);
    order: 0;
  }
}

.light {
  display: none;

  @include respond(gt-sm) {
    display: flex;
  }
}

.loupe3 {
  display: none;

  @include respond(gt-sm) {
    display: flex;
  }
}

.table {
  width: 300px;
  display: flex;
  align-self: center;
  margin: 0;
  order: 3;

  @include respond(gt-xs) {
    margin: 30px;
    width: 485px;
    order: 0;
  }
}

.mat-table {
  background: transparent;
  width: 100%;
  border: 1px solid $primary-color;

  .mat-header-row {
    background: $midnight-green;
    text-align: center;
  }

  .mat-header-cell {
    text-align: center;
    color: $white;
    border: 1px solid $primary-color;
    vertical-align: middle;
  }

  .mat-cell {
    text-align: center;
    color: $primary-color;
    border: 1px solid $primary-color;
    vertical-align: middle;
  }
}

.red {
  color: $red;
}

.switch {
  @include display-flex(row, center, center, nowrap);
  order: 2;

  @include respond(gt-xs) {
    display: none;
  }
}

.switch-text {
  color: $white;
}

.switch-image {
  margin: 10px;
}

.switch {
  position: relative;
  right: 10px;
}

.door-text {
  margin-top: 22px;
}
