<mat-toolbar class="main-toolbar">
  <div class="logo-wrapper">
    <button
      class="menu-toggle-button"
      mat-button
      (click)="isMenuOpen = !isMenuOpen"
      [ngClass]="{'opened': isMenuOpen}"
    >
    </button>
    <div [routerLink]="['/buildings/dashboard']" class="menu-logo"></div>
  </div>
  <div class="menu-title absolute-center">Dashboard</div>
  <img 
    src="/assets/images/logout.svg" alt="" 
    (click)="logout()"
    [routerLink]="['/account/login']"
    class="menu-logout" 
  />
</mat-toolbar>

<mat-sidenav-container class="example-container" [hasBackdrop]="false">
  <mat-sidenav
    #sidenav
    mode="over"
    [position]="'start'"
    class="example-sidenav"
    [opened]="isMenuOpen"
  >
    <button [routerLink]="['/buildings/dashboard']"
    routerLinkActive="active-link"
    class="building-nav">
    <img src="/assets/images/building_white.svg" 
    class="building-img"
    />
    </button>
    
    <button [routerLink]="['/buildings/details/1']"
    routerLinkActive="active-link"
    class="fridge-nav">
    <img src="/assets/images/fridge_white.svg" 
    class="fridge-img"
    />
  </button>
      
  </mat-sidenav>

  <router-outlet></router-outlet>
</mat-sidenav-container>
