@import "~src/app/stylesheets/mixins";
@import "~src/app/stylesheets/variables";
@import "~src/app/stylesheets/elements";

.main-toolbar {
  @include display-flex(row, space-between, center);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: $background-color;
  height: 64px;

  .logo-wrapper {
    @include display-flex(row, center, center);
  }

  .menu-logo {
    height: 27px;
    width: 87px;
    position: relative;
    right: 10px;
    background-image: url("/assets/images/logo_cut_1.svg");
    cursor: pointer;

    &:focus {
      outline: 0;
    }

    @include respond(gt-xs) {
    }

    @include respond(gt-sm) {
      width: 295px;
      height: 31px;
      margin-left: 13px;
      background-image: url("/assets/images/logo.svg");
    }
  }

  .menu-title {
    font-size: 24px; 
    padding-left: 86px;
    padding-top: 4px;
  
    @include respond(gt-xs) {
      font-size: 30px;
      padding-left: 0;
    }
  }

  .menu-logout {
    width: 24pt;
    height: 28pt;
    cursor: pointer;

    @include respond(gt-xs) {
      width: 28pt;
    }

    &:focus {
      outline: 0;
    }
  }

  .menu-toggle-button {
    @extend .bckg-center-cover;
    width: 20px;
    min-width: 15px;
    height: 16px;
    margin-right: 10px;
    background-image: url('/assets/images/arrow_down.svg');
    transform: rotate(-90deg);
    transition: transform .3s ease-in-out;
    border: 0;

    @include respond(gt-sm) {
      display: none;
    }

    &.opened {
      transform: rotate(90deg);
    }
  }
}

.example-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav ::ng-deep {
  .mat-drawer-inner-container {
    @include display-flex(column, flex-start, center, wrap);
  
  }
}


.example-sidenav {
  width: 64px;
  background: $background-color;
}

.building-nav {
  width: 61px;
  height: 61px;
  cursor: pointer;
  border: none;
  background-color: transparent;


  &.active-link {
    background-color: #29d5ff;
  }

  &:focus {
    outline: 0;
  }
}

.building-img {
  width: 28px;
}

.fridge-nav {
  width: 61px;
  height: 61px;
  cursor: pointer;
  border: none;
  margin-top: 2px;
  background-color: transparent;

  &.active-link {
    background-color: $primary-color;
  }

  &:focus {
    outline: 0;
  }
}

.fridge-img {
  width: 28px;
  position: relative;
  top: 2px;
}

.background-nav {
  margin-top: -35px;
}
