@import "~src/app/stylesheets/mixins";
@import "~src/app/stylesheets/variables";
@import "~src/app/stylesheets/elements";

.spread-fix {
  flex: 1;
}

.dashboard {
  @extend .bckg-center-cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100%;
  width: 100%;
  background-image: url("/assets/images/image.png");
  border: 0;
  padding: 20px;

  @include respond(gt-md) {
    flex-flow: row wrap;
    justify-content: center;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $background-color;
    opacity: 94%;
    z-index: 2;
  }
}

.page-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100%;
  width: 100%;

  @include respond(gt-md) {
    max-width: 1500px;
    justify-content: center;
  }

  @include respond(gt-md) {
    flex-flow: row wrap;
  }
}

.box-container {
  @include display-flex(column, center, center, wrap);
  box-sizing: border-box;
  width: 100%;
  margin: 10px;
  border: 3px solid $primary-color;
  z-index: 2;
  cursor: pointer;
  padding: 15px;

  &:focus {
    outline: 0;
  }
  
  @include respond(gt-md) {
    width: calc(50% - 150px);
  }

  &__title {
    font-size: 23px;
    color: $primary-color;
  }

  .title1 {
    align-self: center;
    margin: 11px;
    text-align: center;

    @include respond(gt-xs) {
      align-self: flex-start;
    }
  }

  .title2 {
    align-self: center;
    margin: 11px;
    text-align: center;

    @include respond(gt-xs) {
      align-self: flex-start;
    }
  }

  .title3 {
    align-self: center;
    margin: 11px;
    text-align: center;

    @include respond(gt-xs) {
      align-self: flex-start;
    }
  }

  .title4 {
    align-self: center;
    margin: 11px;
    text-align: center;

    @include respond(gt-xs) {
      align-self: flex-start;
    }
  }
}

.content {
  @include display-flex(column, flex-start, center, wrap);
  width: 100%;

  @include respond(gt-xs) {
    @include display-flex(row, flex-start, center, wrap);
    height: 325px;
    padding-left: 20px;
  }

  .fridge {
    height: 100%;
    width: 110px;
    order: 1;

    @include respond(gt-xs) {
      width: 130px;
      order: 0;
    }
  }

  &__text {
    @include display-flex(column, center, center, nowrap);
    width: calc(100% - 170px);
    height: 100%;
    padding: 80px;
    text-align: center;
    padding: inherit;
    color: $white;
    order: 2;

    @include respond(gt-xs) {
      order: 0;
    }

    &__corners-decoration {
      align-self: flex-end;

      &::before,
      &::after {
        @extend .bckg-center-cover;

        display: block;
        content: "";
        width: 45px;
        height: 45px;
        background-image: url("/assets/images/Group_9.svg");
        position: absolute;
      }
    }

    &.status-error {
      position: relative;
    }

    .decoration1 {
      align-self: center;
      position: relative;
      margin: 35px;

      &::before {
        left: -15px;
        bottom: -15px;
      }

      &::after {
        right: -15px;
        top: -15px;
        transform: rotate(180deg);
      }

      @include respond(gt-xs) {
        &::before {
          left: -35px;
          bottom: -35px;
        }

        &::after {
          right: -35px;
          top: -35px;
          transform: rotate(180deg);
        }

        align-self: flex-end;
      }
    }

    .decoration2 {
      align-self: center;
      position: relative;
      margin: 35px;

      &::before {
        left: -15px;
        bottom: -15px;
      }

      &::after {
        right: -15px;
        top: -15px;
        transform: rotate(180deg);
      }

      @include respond(gt-xs) {
        &::before {
          left: -35px;
          bottom: -35px;
        }

        &::after {
          right: -35px;
          top: -35px;
          transform: rotate(180deg);
        }

        align-self: flex-start;
      }
    }

    .decoration3 {
      align-self: center;
      position: relative;
      margin: 35px;

      &::before {
        background-image: url("/assets/images/error-small.svg");
        left: -15px;
        bottom: -15px;
      }

      &::after {
        background-image: url("/assets/images/error-small.svg");
        right: -15px;
        top: -15px;
        transform: rotate(180deg);
      }

      @include respond(gt-xs) {
        &::before {
          left: -35px;
          bottom: -35px;
        }

        &::after {
          right: -35px;
          top: -35px;
          transform: rotate(180deg);
        }

        align-self: flex-end;
      }
    }

    .decoration4 {
      align-self: center;
      position: relative;
      margin: 35px;

      &::before {
        left: -15px;
        bottom: -15px;
      }

      &::after {
        right: -15px;
        top: -15px;
        transform: rotate(180deg);
      }

      @include respond(gt-xs) {
        &::before {
          left: -35px;
          bottom: -35px;
        }

        &::after {
          right: -35px;
          top: -35px;
          transform: rotate(180deg);
        }

        align-self: flex-start;
      }
    }

    &__decoration-between {
      &::before,
      &::after {
        @extend .bckg-center-cover;
        @extend .absolute-center;
        background-size: initial;

        display: block;
        content: "";
        width: 330px;
        height: 40px;
      }

      &__door1 {
        @include display-flex(column, center, center, nowrap);
        align-self: center;

        @include respond(gt-xs) {
          align-self: flex-start;
          position: relative;
          left: -50px;
        }

        .door1-decoration {
          width: 210px;
          height: 29px;
        }

        p {
          position: relative;
          top: -16px;
          left: 34px;
        }
      }

      &__temperature1 {
        background-image: url("/assets/images/Connector_temperature_blue.svg");
        width: 249px;
        height: 46px;
        margin: 10px 0;
        margin-top: 40px;
      }

      &__light1 {
        background-image: url("/assets/images/Connector_light_pink.svg");
        width: 214px;
        height: 46px;
        margin: 10px 0;

      }

      &__door2 {
        @include display-flex(column, center, center, nowrap);
        align-self: center;

        @include respond(gt-xs) {
          align-self: flex-end;
          position: relative;
          left: 40px;
        }

        .door2-decoration {
          width: 210px;
          height: 29px;
        }

        p {
          position: relative;
          bottom: 47px;
          left: -15px;
        }
      }

      &__temperature2 {
        background-image: url("/assets/images/Connector_temperature_pink.svg");
        width: 249px;
        height: 46px;
        margin: 10px;
      }

      &__light2 {
        background-image: url("/assets/images/line-bulb.svg");
        width: 256px;
        height: 46px;
        margin: 10px 0;

      }

      &__door3 {
        @include display-flex(column, center, center, nowrap);
        align-self: center;

        @include respond(gt-xs) {
          align-self: flex-start;
          position: relative;
          right: 50px;
          bottom: 33px;
        }

        .door3-decoration {
          width: 210px;
          height: 55px;
        }

        p {
          position: relative;
          top: -38px;
          left: 45px;
        }
      }

      &__door4 {
        @include display-flex(column, center, center, nowrap);
        align-self: center;

        @include respond(gt-xs) {
          align-self: flex-end;
          position: relative;
          left: 40px;
        }

        .door4-decoration {
          width: 210px;
          height: 29px;
        }

        p {
          position: relative;
          top: -16px;
          left: -18px;
        }
      }

      &__temperature4 {
        background-image: url("/assets/images/Connector_temperature_pink.svg");
        width: 249px;
        height: 46px;
        margin: 40px;
      }
    }
  }
}

.text-door1 {
  position: relative;
  top: -32px;
  left: 32px;
}

.text-temperature1 {
  position: relative;
  top: -29px;
  left: 50px;
}

.text-light1 {
  position: relative;
  top: -23px;
  left: -45px;
}

.text-door2 {
  position: relative;
  bottom: 36px;
  right: 26px;
}

.text-temperature2 {
  position: relative;
  bottom: 29px;
  right: 43px;
}

.text-light2 {
  position: relative;
  bottom: 24px;
  left: 56px;
}

.text-door3 {
  position: relative;
  top: 4px;
  left: 60px;
}

.text-door4 {
  position: relative;
  bottom: 20px;
  right: 26px;
}

.text-temperature4 {
  position: relative;
  bottom: 30px;
  right: 42px;
}

.ok1 {
  color: $primary-color;
  position: relative;
  top: 4px;
}

.ok2 {
  color: $primary-color;
  position: relative;
  top: 18px;
}

.closed1 {
  color: $primary-color;
  position: relative;
  left: 32px;
}

.closed2 {
  color: $primary-color;
  position: relative;
  left: -16px;
}

.closed4 {
  color: $primary-color;
  position: relative;
  top: 15px;
  left: -18px;
}

.celsius-pink2 {
  color: $pink;
  position: relative;
  top: 17px;
}

.celsius-pink4 {
  color: $pink;
  position: relative;
  top: 19px;
}

.celsius-blue {
  color: $primary-color;
  position: relative;
  top: 17px;
}

.error1 {
  color: $pink;
  position: relative;
  top: 15px;
}

.error3 {
  color: $pink;
  position: relative;
  top: 6px;
}

.attention {
  color: $lila;
  position: relative;
  top: 3px;
}

.open {
  color: $pink;
  position: relative;
  top: 35px;
  left: 42px;
}

.sliders {
  @include display-flex(row, space-between, center, nowrap);

  @include respond(gt-xs) {
    @include display-flex(row, space-between, center, wrap);
    width: 100%;
  }
}

.slider1 {
  position: relative;
  z-index: 2;
  width: 18px;

  @include respond(gt-xs) {
    width: 100%;
  }
}

.slider-text1 {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  padding-left: 12px;
  padding-top: 3px;
  color: $white;
  font-size: 15px;
  opacity: 0.5;
  vertical-align: middle;
  text-align: center;

  @include respond(gt-xs) {
    font-size: 18px;
    padding-top: 8px;
  }
}

.slider-text2 {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  padding-right: 12px;
  padding-top: 3px;
  color: $white;
  font-size: 15px;
  opacity: 0.5;
  vertical-align: middle;
  text-align: center;

  @include respond(gt-xs) {
    font-size: 18px;
    padding-top: 8px;
  }
}

.slider2 {
  position: relative;
  z-index: 2;
  width: 18px;

  @include respond(gt-xs) {
    width: 100%;
  }
}

.title-fridges {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  color: $primary-color;
  padding-right: 0;
  padding-bottom: -1px;
  margin: 10px;

  @include respond(gt-xs) {
    padding-right: 30px;
    font-size: 24px;
    margin: 0;
    padding-bottom: 10px;
  }
}

.left {
  display: flex;
  flex-direction: row;
  padding: 0;

  @include respond(gt-xs) {
    padding-left: 92px;
  }
}

.right {
  display: flex;
  flex-direction: row;
  padding: 0;

  @include respond(gt-xs) {
    padding-right: 45px;
  }
}

.humidity {
  // padding-top: 20px;
}
