<div class="dashboard">
  <!-- <div class="sliders">
    <div class="left">
      <img src="/assets/images/Group_12.svg" alt="" class="slider1" />
      <div class="slider-text1">
        Building
        <br />
        One
      </div>
    </div>

    <div class="title-fridges">
      Building One
    </div>

    <div class="right">
      <div class="slider-text2">
        Building
        <br />
        Three
      </div>
      <img src="/assets/images/Group_12_Copy.svg" alt="" class="slider2" />
    </div>
  </div> -->

  <div class="page-content-container">
    <div [routerLink]="['/fridges/details/1']" class="box-container"
    *ngFor="let fridge of fridges;let i=index">

      <h2 class="box-container__title title1">
          {{ fridge.name }}
      </h2>
      <div class="content">
        <img
          src="/assets/images/Fridgeone.svg"
          alt=""
          class="content__content-fridge fridge"
        />
        <div class="content__text">
          <div class="content__text__corners-decoration decoration1">
            <div class="status1">
              Door closed
              <br />
              <div class="ok1">
                  {{ sensors.isDoorOpened }}
              </div>
            </div>
          </div>
          <div class="content__text__decoration-between__temperature1">
            <div class="text-temperature1">
              <div class="celsius-blue" >
                {{ sensors.temperature }}
              </div>
              <br /><br />
              <p>
                Temperature
              </p>
            </div>
          </div>
          <div class="content__text__decoration-between__light1">
            <div class="text-light1">
              <div class="error1">
                  {{ sensors.humidity }}
              </div>
              <br /><br />
              <p class="humidity">
                Humidity
              </p>
            </div>
          </div>
          <div class="content__text__decoration-between__light2">
              <div class="text-light2">
                <div class="ok2">
                    {{ sensors.light }}
                </div>
                <br /><br />
                <p>
                  Light status
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>
  <!--
    <div [routerLink]="['/fridges/details/1']" class="box-container">
      <h3 class="box-container__title title2">Fridge two 7th Floor</h3>
      <div class="content">
        <div class="content__text">
          <div class="content__text__corners-decoration decoration2">
            <div class="status2">
              Fridge status
              <br />
              <div class="attention">
                ATTENTION
              </div>
            </div>
          </div>
          <div class="content__text__decoration-between__door2">
            <div class="closed2">
              CLOSED
            </div>
            <img
              src="/assets/images/connector_blue2.svg"
              alt=""
              class="door2-decoration"
            />
            <br /><br />
            <p>
              Door status
            </p>
          </div>
          <div class="content__text__decoration-between__temperature2">
            <div class="text-temperature2">
              <div class="celsius-pink2">
                25 C
              </div>
              <br /><br />
              <p>
                Temperature
              </p>
            </div>
          </div>
          <div class="content__text__decoration-between__light2">
            <div class="text-light2">
              <div class="ok2">
                OK
              </div>
              <br /><br />
              <p>
                Light status
              </p>
            </div>
          </div>
        </div>
        <img
          src="/assets/images/Fridge3.svg"
          alt=""
          class="content__content-fridge fridge"
        />
      </div>
    </div>
  
    <div [routerLink]="['/fridges/details/1']" class="box-container">
      <h2 class="box-container__title title3">Fridge three IoT Lab</h2>
      <div class="content">
        <img
          src="/assets/images/Fridge2.svg"
          alt=""
          class="content__content-fridge fridge"
        />
        <div class="content__text status-error">
          <div class="content__text__corners-decoration decoration3 status3">
            <div>
              Fridge status
              <br />
              <div class="error3">
                ERROR
              </div>
            </div>
          </div>
            <div class="content__text__decoration-between__door3">
                <div class="open">
                  OPEN
                </div>
                <img
              src="/assets/images/connector_pink.svg"
              alt=""
              class="door3-decoration"
            />
                <br /><br />
                <p>
                  Door status
                </p>
            </div>
        </div>
      </div>
    </div>
  
    <div [routerLink]="['/fridges/details/1']" class="box-container">
      <h2 class="box-container__title title4">Fridge four 3rd Floor</h2>
      <div class="content">
        <div class="content__text">
          <div class="content__text__corners-decoration decoration4">
            <div class="status4">
              Fridge status
              <br />
              <div class="ok1">
                OK
              </div>
            </div>
          </div>
            <div class="content__text__decoration-between__door4">
                <div class="closed4">
                  CLOSED
                  <br /><br />
                </div>
                <img
              src="/assets/images/connector_blue2.svg"
              alt=""
              class="door4-decoration"
            />
                <p>
                  Door status
                </p>
            </div>
            <div class="content__text__decoration-between__temperature4">
              <div class="text-temperature4">
                <div class="celsius-pink4">
                  17 C
                </div>
                <br /><br />
                <p>
                  Temperature
                </p>
              </div>
            </div>
        </div>
        <img
          src="/assets/images/Fridge5.svg"
          alt=""
          class="content__content-fridge fridge"
        />
      </div>
    </div>-->
  </div>
</div>
