@import "~src/app/stylesheets/mixins";
@import "~src/app/stylesheets/variables";
@import "~src/app/stylesheets/elements";

.login-page {
  @include display-flex(column, center, center);
  @extend .bckg-center-cover;

  width: 100%;
  min-height: 100%;
  background-image: url("/assets/images/image.png");
  border: 0;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $background-color;
    opacity: 0.94;
  }

  &__centered-logo {
    position: relative;
    z-index: 2;

    @include respond(gt-xs) {
      width: 297px;
      margin-bottom: 100px;
    }
  }

  &__header {
    color: $white;
    padding: 20px;
    font-size: 30px;
    position: relative;

    @include respond(gt-xs) {
      font-size: 43px;
    }
  }

  &__text {
    padding: 5px;
    color: $white;
    font-size: 15px;
    position: relative;
  }

  &__forgot {
    font-size: 15px;
    color: $white;
    position: relative;
  }

  a {
    color: $primary-color;
    position: relative;
  }

  &__form {
    @include display-flex(column, center, center, wrap);

    z-index: 2;
    margin-top: 45px;

    &-button {
      width: 150px;
      padding: 15px 45px;
      font-size: 20px;
      background-color: $primary-color;
      color: $white;
      border: 0;
      cursor: pointer;

      @include respond(gt-xs) {
        width: 191px;
      }
    }

    &-input {
      width: 285px;
      height: 48px;
      padding: 10px;
      font-size: 18px;
      background-color: $grey;
      margin-bottom: 25px;
      opacity: 0.5;
      border: 2px solid $primary-color;

      @include respond(gt-xs) {
        width: 350px;
      }

      &-input[type="password"] {
        color: $white;
      }

      &::placeholder {
        color: $white;
      }

      &.invalid {
        border: 2px solid $pink;
      }

      &:focus {
        outline: 0;
      }
    }
  }

  &__form input[type="text"],
  &__form input[type="password"] {
    color: $white;
  }
}

.form-field-container {
  position: relative;

  .form-error-container {
    height: 15px;
    position: absolute;
    left: 0;
    bottom: 9px;
    line-height: 15px;
    color: $pink;
    font-size: 13px;
  }
}

/*PASSWORD RESET
@import url("https://fonts.googleapis.com/css?family=Damion|Muli:400,600");

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.m-10-0 {
  margin: 10px 0;
}

.bckg-center-cover {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.login-page {
  @extend .column-center;
  @extend .bckg-center-cover;

  min-height: 100%;
  width: 100%;
  border: 0;
  background-image: url("/assets/images/image.png");

  border: none;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #04232b;
    opacity: 94%;
  }

  &__centered-logo {
    width: 297px;
    padding-bottom: 155px;
    position: relative;
  }

  &__success {
    position: relative;
  }

  &__header {
    color: white;
    padding: 20px;
    font-size: 36px;
    position: relative;
    bottom: -45px;
  }

  &__text {
    padding: 5px;
    color: white;
    font-size: 15px;
    position: relative;
  }

  &__forgot {
    color: white;
    position: relative;
  }

  a {
    color: #29d5ff;
    position: relative;
  }

  &__form {
    @extend .column-center;

    max-width: 350px;
    position: relative;
    margin: 0 auto 100px;
    padding: 45px;

    &-button {
      width: 191px;
      height: 48px;
      padding: 15px 45px;
      font-size: 20px;
      background-color: #29d5ff;
      color: white;
      border: 0;
      position: relative;
      top: 15px;
    }
  }
}
*/
