<div class="login-page"> 
  <img class="login-page__centered-logo" src="/assets/images/logo.svg" alt="" />
  <h1 class="login-page__header">Welcome back!</h1>
  <div class="login-page__text">Login to access the IoT Dashboard.</div>
  <p class="login-page__forgot">
    Did you
    <a href="" target="_blank">forgot your password</a>
    ?
  </p>
  <form [formGroup]="loginForm" class="login-page__form">
    <div class="form-field-container">
      <input
        formControlName="username"
        name="username"
        class="login-page__form-input"
        type="text"
        placeholder="Email"
        [ngClass]="{'invalid': formControl.username.errors && (formControl.username.dirty || formControl.username.touched)}"
      />
      <div 
        *ngIf="formControl.username.errors && (formControl.username.dirty || formControl.username.touched)"
        class="form-error-container"
      >
        <div *ngIf="formControl.username.errors.required && !formControl.username.errors.incorrect">
          Email is required.
        </div>
        <!-- <div *ngIf="formControl.username.errors.incorrect && !formControl.username.errors.required">
          Name or password is incorrect.
        </div> -->
      </div>
    </div>
    <div class="form-field-container">
        <input
          formControlName="password"
          name="password"
          class="login-page__form-input"
          type="password"
          placeholder="Password"
          [ngClass]="{'invalid': formControl.password.errors && (formControl.password.dirty || formControl.password.touched)}"
        />
        <div 
          *ngIf="formControl.password.errors && (formControl.password.dirty || formControl.password.touched)"
          class="form-error-container"
        >
          <div *ngIf="formControl.password.errors.required && !formControl.password.errors.incorrect">
            Password is required.
          </div>
          <div *ngIf="formControl.password.errors.incorrect && !formControl.password.errors.required">
            Incorrect email or password.
          </div>
        </div>
    </div>
    <button
      (click)="onLogInClicked()"
      type="submit"
      class="m-10-0 login-page__form-button"
    >
      LOGIN
    </button>
  </form>
</div>




<!-- PASSWORD RESET
          <div class="login-page">
          <img class="login-page__centered-logo" src="/assets/images/logo.svg" alt="">
          <img class="login-page__success" src="/assets/images/Group_5.svg" alt="">
          <h1 class="login-page__header">Password has been successfully reset.</h1>
          <form class="login-page__form">
              <button (click)="onLogInClicked()" type="button" class="m-10-0 login-page__form-button">LOGIN</button>
          </form>
          </div>
        -->
          