<div class="login-page">
    <img class="login-page__centered-logo" src="/assets/images/logo.svg" alt="">
    <h1 class="login-page__header">Forgot password?</h1>
    <div class="login-page__text">Enter the email address associated with your account.</div>
    <p class="login-page__forgot">We will email you a link to reset your password.
    </p>
    <form class="login-page__form">
        <input class="login-page__form-input m-10-0" type="text" placeholder="Enter email address"/>
        <button (click)="onForgotPassClicked()" type="button" class="m-10-0 login-page__form-button">SEND</button>
    </form>
</div>
