@import url("https://fonts.googleapis.com/css?family=Damion|Muli:400,600");
@import '~src/app/stylesheets/mixins';
@import '~src/app/stylesheets/variables';
@import '~src/app/stylesheets/elements';


.login-page {
  @include display-flex(column, center, center, nowrap);
  @extend .bckg-center-cover;

  min-height: 100%;
  width: 100%;
  margin: 0;
  background-image: url("/assets/images/image.png");
  padding: 18px;

  @include respond(gt-xs) {
    padding: 0;
  }


  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $background-color;
    opacity: 94%;
  }

  &__centered-logo {
    width: 480px;
    padding-bottom: 155px;
    position: relative;

    @include respond(gt-xs) {
      width: 297px;
    }
  }

  &__header {
    @include display-flex(row, center, center, wrap);
    color: $white;
    padding: 20px;
    font-size: 30px;
    position: relative;
    text-align: center;

    @include respond(gt-xs) {
      font-size: 43px;
    }
  }

  &__text {
    padding: 5px;
    color: $white;
    font-size: 15px;
    position: relative;
  }

  &__forgot {
    color: $white;
    position: relative;
  }

  a {
    color: $primary-color;
    position: relative;
  }
}

.image-error {
  z-index: 4;
  padding-bottom: 35px;
  width: 100%;

  @include respond(gt-xs) {
    width: 0;
  }
}
