<div class="login-page"> 
  <img class="login-page__centered-logo" src="/assets/images/logo_cut_1.svg" alt="">
  <img src="/assets/images/404.svg" alt="" class="image-error">
  <h1 class="login-page__header">Oops, looks like there's nothing here.</h1>
    <a href="" target="_blank">Go back.</a>
  </div>