/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~src/app/stylesheets/base/reset';

@font-face {
    font-family: 'NunitoSans';
    src: url('/assets/fonts/NunitoSans-Regular.woff2') format('woff2'),
    url('/assets/fonts/NunitoSans-Regular.woff') format('woff'),
    url('/assets/fonts/NunitoSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'NunitoSans'; }
