<div class="background"> 
<div class="loader"> 
    <img
        src="/assets/images/fridge_blue.svg"
        alt=""
        class="fridge-loader"
      />
    <h5 class="loading-text">Loading...</h5>
  </div>
</div>