@import "~src/app/stylesheets/mixins";
@import "~src/app/stylesheets/variables";
@import "~src/app/stylesheets/elements";


mat-progress-spinner {
  margin: 20% 0 auto;
}

.background {
  background-color: $black;
  width: 100%;
  height: 100%;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  top: 50%;
  width: 100%;
  z-index: 4;
}

.fridge-loader {
  width: 60px;
  height: 71px;
  z-index: 4;
  
}

.loading-text {
  z-index: 4;
  color: $white;
  font-size: 32px;
  padding-top: 37px;
}
